<form method='GET' action='' class='row'>
    <div class='col-sm-6'>

    <div class='input-group'>
<input class='form-control' type='text' name='q' placeholder='buscar posts' value='{{ request.GET.q }}' />
    <span class='input-group-btn'>
        <button class='btn btn-default' type='submit'><i class="fa fa-search fa-fw"></i></button>
<!-- <input class='btn btn-default' type='submit' value='Buscar' /> -->
    </span>
    </div>

</div>
</form>




<div>
<p class='lead'>Comentarios</p>
{% if request.user.is_authenticated %}
<form method="POST" action='.'>{% csrf_token %}
	{{ comment_form|crispy }}
	<input type='submit' value='Publicar' class='btn btn-default' />
</form>
{% else %}
<p><strong>Hay que iniciar sesión para dejar un comentario</strong></p>
{% endif %}
<br/>

{% for comment in comments %}
<blockquote>
	<p>{{ comment.content }}</p>
	<footer>por {{ comment.user }} | hace {{ comment.timestamp|timesince }} | {% if comment.children.count > 0 %}{{ comment.children.count }} Comment{% if comment.children.count > 1 %}s{% endif %} | {% endif %}<a class='comment-reply-btn' href='#'>Responder</a> | <a class='' href='{{ comment.get_absolute_url }}'>Hilo</a></footer>
	<div class='comment-reply'>
	  	{% for child_comment in comment.children %}
		<blockquote>
			<p>{{ child_comment.content }}</p>
			<footer>por {{ child_comment.user }} | hace {{ child_comment.timestamp|timesince }}</footer>
		</blockquote>
		{% endfor %}

{% if request.user.is_authenticated %}
		<form method="POST" action='.'>{% csrf_token %}
			{{ comment_form|crispy }}
			<input type='hidden' name='parent_id' value='{{ comment.id }}'/>
			<input type='submit' value='Responder' class='btn btn-default' />
		</form>
{% else %}
<p><strong>Hay que iniciar sesión para dejar un comentario</strong></p>
{% endif %}
	</div>
</blockquote>
<hr/> 		
{% endfor %}
</div>

query = request.GET.get("q")
	if query:
		queryset_list = queryset_list.filter(
			Q(titulo__icontains=query)|
			Q(contenido__icontains=query)|
			Q(user__first_name__icontains=query)|
			Q(user__last_name__icontains=query)
			).distinct()



$(".comment-reply-btn").click(function(event){
    event.preventDefault();
    $(this).parent().next(".comment-reply").fadeToggle();
  })


<!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="css/clean-blog.min.css" rel="stylesheet">		


  {% include "messages_display.html" %}	